html{ margin: 0px !important;}
.main-page-container { min-height: 100vh;}
.cls-left-add-title, .cls-right-add-title{transform: translate(0px, 0px); }
.cls-left-add-title span,
.exampleSlider .MS-content span {height: 22px;background-color: #000;width: 100%;
    display: block;line-height: 22px;text-align: center;bottom: 0px;
    position: absolute; opacity: 0.8;
}
.footer {position: fixed;left: 0;bottom: 0;width: 100%;color: white;text-align: center;}
.cls-social { background-color: orange;}
.adsMargin {background-color: #fff;}
@media (max-width: 700px) {.foot-add-row {display: none;}}
.heart {cursor: pointer;height: 50px;width: 50px;
    background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;background-repeat: no-repeat;background-size: 2900%;
}
.heart:hover {background-position: right;}
.is_animating {animation: heart-burst .8s steps(28) 1;}
@keyframes heart-burst {from {background-position: left;}to {background-position: right;}}
.text-white {}
.look-like-btn {background-color: Transparent;background-repeat: no-repeat;
    border: none !important;cursor: pointer !important;overflow: hidden;
    color: #364759;box-shadow: none !important;}
.cls-right-add-img img {width: 100%;min-height: 100px;}
.cls-right-add-block ,.cls-left-add-block{ margin-bottom: 10px; }
.cls-right-add-block div {padding: 0px;padding-left: 2px;}
.cls-right-add-img span {position: absolute;transform: translate(-100%, 0px);
    background: #000;color: #fff;opacity: 0.6;width: 100%;bottom: 10px;
    height: 30px;text-align: center;}
.sm-add-root { margin-bottom: 10px; max-height: 200px;}
.sm-add-root img { width: 100%;min-height: 100px;max-height: 200px;}
.sm-add-root div { padding: 0px;padding-left: 2px;}
.sm-add-root span {position: absolute;transform: translate(-100%, 170px);
    background: #000;color: #fff;opacity: 0.6;width: 93%;height: 30px;text-align: center;}
.cls-left-add-root.d-none.d-md-block { padding-left: 14px;}
.foot-add-row .col-md-1 span {position: absolute;background: black;transform: translate(-100%, 0%);
    width: 101%;bottom: 0;height: 38px;opacity: 0.5;}
.foot-add-row .col-md-1 {margin: 0px;padding: 0px;}
.foot-add-row .col-md-1 img {width: 100%;height: 100px;}
.overlay_badge_buy.buyDelete,
.overlay_badge_buy.eventDelete,
.overlay_badge_buy.buyEdit,
.overlay_badge_buy.eventEdit,
.overlay_badge_buy.savedButton {max-width: 30px;float: right;left: unset !important;right: 0px;}
.overlay_badge_buy.buyDelete,
.overlay_badge_buy.eventDelete {right: 65px}
.overlay_badge_buy.buyEdit,.overlay_badge_buy.eventEdit {right: 32px}
.cls-add-row {/* min-height:<?php echo $setting->view_style == 'facebook' ? 400 : 450 ?>px; */ }
.cls-add-row img,.cls-add-row div {max-width: 100%;min-width: 100px;width:100%;}
.root-home-pinterest .col-lg-1.col-md-1 .cls-right-add-img span {transform: translate(0px, 10px); }
@media(min-width: 1200px) { .cls-cnt {
        min-width: <?php echo $setting->view_style=='facebook'? 50: 80 ?>% !important;
        max-width: <?php echo $setting->view_style=='facebook'? 50: 80 ?>% !important;
    }
    .cls-left-add-root,.cls-right-add-root {
        min-width: <?php echo $setting->view_style=='facebook'? 25: 9 ?>% !important;
        padding: 20px;
    }
}

/* Left Right Add Start */
.cls-left-add-root,
.cls-right-add-root {float: left; max-width: 100px; }
.button-blue { box-shadow: gray; padding: 20px; width: 100%; text-align: left; border-radius: 3px; color: #000;    }
.button-blue:hover {background-color: #006DBC; }
.button-blue:active {background-color: #006DBC; }
#newpostmodel .button-blue:active{background-color:#006DBC !important;color: white !important; }
.cancel { background-color: #f47d2b;border-color: #f47d2b;box-shadow: gray;padding: 10px;width: 100%;text-align: center; border-radius: 5px; color: #fff;}
/* Left Right Add end */
.root-home-facebook .cls-containt-rooot.col-lg-6.col-md-6 {padding: 0px;margin: 0px;}
.cls-footer { z-index: 99999; }
.cls-footer .MS-content, .cls-footer .adsMargin {margin-top: 0px !important; margin-bottom: 0px !important;}
.cls-bottom-add-item img {max-height: 400px}
.cls-bottom-add-item a span { opacity: 0.8; width: 100%; height: 25px;line-height: 25px;
    display: block; background-color: #000; text-align: center; position: relative;bottom: 25px; }
ul.footer-social li { margin: 27px 5px 0 5px; padding: 0;}
.social-section { width: 100%; height: 45px; text-align: center; }
ul.footer-social li { height: 30px; font-size: 20px; display: inline-block; margin: 10px 11px 0 11px;}
ul.footer-social li a { color: #FFF;}
#myBtn {display: none; position: fixed;bottom: 20px;            
    right: 30px;z-index: 99;border: none;outline: none;background-color: orange;            
    color: white;cursor: pointer;padding: 15px;border-radius: 10px;font-size: 18px;          
}
#myBtn:hover { background-color: #c38108;}
.fixed {position: fixed;}

.create-post .bredcums{background:#cdcd;padding:20px; width:100%;}
.create-post .category-hirarchy{margin-bottom:0px !important;background: #ffa500;padding: 5px; color:#fff; width:350px;float: left;}
.create-post .button{float: right;margin-bottom: 0px !important;width:260px;}
.create-post .category-hirarchy .category-hirarchy-item,.create-post .button .button-item{display: inline-block;width: auto;margin-right: 10px;}
.create-post .category-hirarchy .category-hirarchy-item a{color: #fff; text-decoration: none;}
.create-post .btn-submit{height: 35px;background: #69b7bb;border-radius: 6px;color: #fff !important;}
.create-post .btn-cancel{height: 35px;background: #f9a813;border-radius: 6px;color: #fff !important;}
.create-post .btn-cancel .fa-times-circle{float:none;color:#fff;margin-right:0px;}
.create-post .post-form{margin-top:5%;}
.create-post .image-upload > input {visibility:hidden;width:0; height:0}
.create-post .image-upload,.create-post .image-upload label,.create-post .image-upload img{width:100%;}
.create-post .price-box{background:#cdcdcd; width:100%;min-height:250px; margin-top:10%;}
.create-post .price-btn-container{width:100%;padding:5px 5px;}
.create-post .price-btn{height:30px;background:green;font-size:14px;line-height:1;color:#fff;}
.price-details {padding:0px 10px;}
.create-post .price-details table td {padding: 5px 5px !important;border: none !important;}