@media (max-width: 747px) {
    .adsMargin {
        display: none;
    }

    .user-profile-menu-bar {
        margin: 0;
        border: 0;
    }

    .user-profile-navbar {
        padding: 12px;
        background-color: #80808012;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    .r-l-no-border {
        border-left: none !important;
        border-right: none !important;
        padding: 10px 0;
    }

    .profile-image {
        width: 140px;
        height: 140px;
        margin-left: 18px !important;
        margin-top: -180px !important;
        border-radius: 50%;
        border: 5px solid #fff;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    }

    .search-box {
        margin-left: 40%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: verdana;
        color: black;
        /* width: 100%;*/
    }

    .second-nav {
        display: none !important;
    }

    .fol-btn {
        position: absolute;
        right: 30px;
        top: 200px;
    }

    .rating-share-mobile-view {
        display: block;
        margin: 5px;
    }

    .rating-share-desktop-view {
        display: none;
    }

    .text-card {
        width: 408px;
        margin-left: 15px;
    }

    #wallet .input-group {
        width: 100%;
        margin: 1rem;
        margin-left: 0;
    }

    .blog-post-image {
        width: 410px;
    }

    #wallet .btn-primary {
        margin-bottom: 20px;
    }

    .wallet-transaction-table {
        font-size: 9px !important;
    }

    .emojies .col-md-1 {
        width: 0;
    }

    .emojies #like {
        margin-left: 27px;
    }

    .emojies .dislike-emoji {
        margin-left: 44px;
    }

    .emojies #dislike {
        margin-left: 35px;
    }

    .emojies .hurt-emoji {
        margin-left: 30px;
    }

    .emojies #love {
        margin-left: 12px;
    }

    .emojies .smiley-emoji {
        margin-left: 18px;
    }

    .emojies #happy {
        margin-left: 12px;
    }

    .emojies .angry-emoji {
        margin-left: 19px;
    }

    .emojies #angry {
        margin-left: 12px;
    }

    .emojies .disappointed-emoji {
        margin-left: 19px;
    }

    .emojies #sad {
        margin-left: 12px;
    }

    .product-image {
        width: 236px !important;
    }

    .middle-div h6 {
        margin-left: -22px;
    }

    .middle-div h4 {
        margin-left: -39px;
    }

    .float-left {
        margin-top: 35px;
    }
    #transactionsTable{
        font-size: 7px;
    }
    .desktop-menu{
        display: block;
    }
    .mobile-menu{
        display: none;
    }
    .mob-menu-btn{
        display: none !important;
    }
    .user_name_rate_sec {
        position: relative;
        /*top: -135px;*/
        line-height: 3px;
        margin-left: 0;
    }
    .cover-user-attr{
        flex-direction: column;
        /*line-height: 3px;*/
    }
    .cvrusr-rviw-cnt{
        /*margin: 5px 0px 5px 0px;*/
        margin: 0;
        line-height: 25px;
    }
    .cvrusr-lst-loc{
        /*margin: 5px 0px 5px 0px;*/
        margin: 0;
        float: unset;
        line-height: 12px;
        /*width: 60%;*/
    }
    .user-profile-menu-new{
        /*top: -24px;*/
        top: 0;
        left: 15px;
        right: 15px;
        justify-content: center;
        background-color: white;
        border: 1px solid #00000038;
        border-top-width: 0;
        width: auto;
        padding: 0;
        margin: 0;
        padding-top: 2px;
    }
    .onof-line-stats{
        left: 155px;
        top: -120px;
    }

    .cvr-img-shadow::after {
        height: 52%;
        margin: 0;
    }
}

@media (max-width: 580px) {
    .desktop-menu{
        display: none !important;
    }
    .mob-menu-btn{
        display: none !important;
    }
    .mobile-menu{
        display: block;
    }
    .nav-item.mt-4 {
        margin-left: 6px;
    }
    .navbar-brand {
        font-size: 11px;
    }
    .brand-logo{
        height: 35px;
    }

    .search-in-new{
        border-radius: unset;
        height: 35px;
        width: 19px;
        margin-top: 0px;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        position: absolute;
        right: 0px;
    }
    .menu-search-icon-cont{
        position: absolute;
        right: 2px;
        padding-top: 4px;
        color:#000000;
    }
    .search-box-new:hover > .search-in-new {
        width: 180px;
        position: absolute;
        right: 0px;
    }
    .user_name_rate_sec {
        position: relative;
        top: -120px;
        line-height: 3px;
        left: 30%;
        /*width: 195px;*/
        margin-bottom: -100px;
    }
    .cover-user-attr{
        flex-direction: column;
        line-height: 3px;
    }
    .cvrusr-rviw-cnt{
        margin: 5px 0px 5px 0px;
        line-height: 0;
    }
    .cvrusr-lst-loc{
        margin: 5px 0px 5px 0px;
        float: unset;
        line-height: 12px;
        width: 100%;
    }
    .card-body{padding: 0;}
    .message-btn-new{margin: 8px 17px 0px 0px;}
    .follow-btn{margin: 13px 0px 0px 4px;}
    .navbar-light.bg-light {padding: 0 12px 0 12px;}
    .fb-messengermessageus.fb_iframe_widget.fb_iframe_widget_fluid {
        display: none !important;
    }
    .cvr-img-container{padding: 0 0 0 0;}
    .cvr-img-shadow::after {
        bottom: 0;
    }
}

@media (max-width: 467px) {
    .search-box {
        margin-top: -6em !important;
        margin-left: -10px !important;
        position: absolute;
        width: 100% !important;
    }

    .profile-image {
        width: 140px;
        height: 140px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -10em !important;
        margin-bottom: 10px;
        /*display: block;*/
        sborder-radius: 50%;
        border: 5px solid #fff;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    }

    .search-in {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .second-nav {
        display: none !important;
    }

    .other-user-profile-image {
        width: 110px !important;
        height: 110px !important;
        margin-left: 0 !important;
    }

    .rating-share-mobile-view {
        display: block;
        margin: 5px;
    }

    .rating-share-desktop-view {
        display: none;
    }

    .wallet-transaction-table {
        font-size: 9px !important;
    }
    #transactionsTable{
        font-size: 7px !important;
    }
    .nsaction-table {
        font-size: 9px !important;
    }
    .desktop-menu{
        display: none !important;
    }
    .mob-menu-btn{
        display: none !important;
    }
    .mobile-menu{
        display: block;
    }
    .nav-item.mt-4 {
        margin-left: 6px;
    }
    .navbar-brand {
        font-size: 11px;
    }
    .brand-logo{
        height: 35px;
    }
    .onof-line-stats{
        left: 100px;
        top: -110px;
    }
    .othr-onof-stat{
        left: 100px;
        top: -110px;
    }
    .user-profile-menu-new{font-size: 11px;}
    .message-btn-new{height: 27px;}
    .p-info{width: 120px;}
    .modal.show{width: 80%}
}


@media (max-width: 380px) {

    .like-btn {
        padding: 4px;
        margin-left: -10px;
    }

    .like-emoji #like {
        margin-left: 13px;
    }

    .dislike-btn {
        margin-left: -21px;
        padding: 4px;
    }

    .dislike-emoji #dislike {
        margin-left: 11px;
        font-size: 12px;
    }

    .love-btn {
        margin-left: -32px;
        padding: 4px;
    }

    .hurt-emoji #love {
        margin-left: -23px;
        font-size: 12px;
    }

    .smiley-btn {
        margin-left: -43px;
        padding: 4px;
    }

    .smiley-emoji #happy {
        margin-left: -33px;
        font-size: 12px;
    }

    .angry-emoji-btn {
        margin-left: -55px;
        padding: 4px;
    }

    .angry-emoji #angry {
        margin-left: -46px;
        font-size: 12px;
    }

    .disappointed-emoji {
        position: relative;
        left: 226px;
        top: -63px;
    }

    .disappointed-emoji #sad {
        font-size: 12px;
        margin-left: 10px;
    }

    .emojies-btn-row {
        margin-left: -7px;
    }
    .navbar-brand {
        font-size: 9px;
    }
    .brand-logo{
        height: 28px;
        width: 28px;
    }
    .navbar-mobile{
        font-size: 9px;
    }
    .profile-image{
        width: 120px;
        height:120px;
    }
    .nav-link {
        padding: 0.5rem .5rem;
    }
    /*.onof-line-stats{left: 114px;}*/
    /*.user_name_rate_sec{
        left: 44%;
        width: 155px;
    }*/
    .p-info{width: 92px;}
    .cvrusr-lst-loc {
        width: 70%;
        margin: 0;
    }
}


