.divbox {
    width: 100%;
    font-style: normal;
    overflow: hidden;
    background: white;
    padding: 0;
    font-weight: lighter;
}

.mesuccess {
    background: #ffffff;
    font-style: normal;
    color: #161b16;
    text-align: left;
    border-top: #f0eeee75 1px solid;
    margin: 0px 0px 0px -6px;
}

.hesuccess {
    background: #ffffff;
    font-style: normal;
    color: #1f1111;
    text-align: left;
    border-top: #f0eeee75 1px solid;
    margin: 0px 0px 0px -6px;
}

.wrapping {
    border: 10px solid black;
}

.spamDisplay {
    opacity: 0.2;
}

.sender {
    margin: 10px -44px 0px -6px;
    font-weight: 700 !important;
    font-style: normal;
    font-size: .95rem;
}

.time {
    font-size: 12px;
    margin: 0px 0px;
    font-style: normal;
    color: #999999;
}

#time {
    font-size: 12px;
    margin: 12px 0px 0px 152px;
    font-style: normal;
    color: #999999;
}

.messagebody {
    margin: 9px 10px -5px 70px;
    max-width: 540px;
    font-size: .80rem !important;
    font-style: normal;
    line-height: 145%;
    font-weight: 300 !important;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.spanclass {
    display: inline;
    float: right;
    font-size: 12px;
    color: #b2b2b2;
    text-indent: 8px;
    margin-right: 258px;
}

.well-sm {
    padding: 3px;
    border-radius: 3px;
    min-height: 14px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.alink {
    font-weight: 600 !important;
    color: black;
    font-size: .88rem;
    font-style: normal;
}

.mydrp {
    font-style: oblique 40deg;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.chtbxusername {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.chatliststyle {
    list-style: none;
    overflow: hidden !important;
    border-bottom: #e7e4e48a solid 1px;
    padding: 0;
    font-style: normal;
    margin: 0px 0px 0px -39px;
}

.chatlistname {
    padding: 0;
    margin: 0px 0px 0px 0px;
}

.chatlistmgs {
    margin: -18px 30px 0px 19px;
    font-style: normal;
    font-size: 12px;
}

.chatliststyle:hover {
    background-color: #f5f5f5;
}

#tbod:hover {
    background-color: #f5f5f5;
}

#crossbutton {
    opacity: .05;
}

#crossbutton:hover {
    opacity: .8;
    color: red;
}

.chatboxtopbar {
    border-bottom: #d4d1d1 solid 1px;
    margin: 3px 12px 4px -17px;
    box-shadow: 0.03rem 0.03rem 0.01rem #bcc0bb;
}

.jumbotron {
    padding: 50px;
    margin-left: 0;
    color: green;
    font-weight: 300;
    border-radius: 25px;
    margin-top: 10%;
    background: #f3a9a92a;
}

.receiver-profile-image {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 4px;
}

.message_font {
    font-size: .80rem;
    color: #b4b4b4;
    font-style: normal;
}

.level_font {
    font-size: .85rem !important;
    padding: 3px;
    font-style: normal;
    color: #383737;
}

.chatnavicon {
    padding-top: 3px;
    font-size: .80rem;
    margin-left: 16px;
    float: right;
    cursor: pointer;
}

.levelop {
    font-size: .85rem !important;
    padding: 3px;
    font-style: normal;
    cursor: pointer;
}

.levelop:hover {
    color: #0004da;
    box-shadow: 2px 2px #b0b6b3;
    margin: 4px;
}

.topleftchatdiv {
    padding: 11px 10px;
    cursor: pointer;
}

.typing {
    background: #c5c2c3;
    color: rgba(253, 86, 86, 0.877);
    font-style: normal;
    font-size: .88rem;
    font-weight: 500 !important;
}

.tablemessagepopup {
    display: table;
    border-collapse: separate;
    empty-cells: show !important;
    border-color: #fdfafa !important;
    width: 100%;
    /* margin-bottom: 1rem; */
    background-color: transparent;
    border-collapse: collapse !important;
}

.messagepopCom {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
}

.messagepopCom:hover {
    box-shadow: 2px 2px 2px 2px #806ee6;
    background: #0cf31bb2;
}

.form-control {
    display: inline !important;
    width: 95% !important;
}

#sendmgsarrow {
    font-size: 25px;
    margin: 4px;
    color: seagreen;
    position: relative;
    top: 18px;
    left: -50px;
}

.staryellow {
    color: yellow;
    font-weight: 900;
    text-shadow: yellow -1px -1px,
    yellow -1px -1px,
    yellow -1px 1px,
    yellow -1px -1px;
}

.dot{
    font-size: 12px;
    color: grey;
}
textarea::placeholder {
    margin-top: 5px;
}

@media  (max-width: 370px) {
    .chatliststyle{
        display: none;
    }
    .receiver-profile-image{
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    .welcomemgs {
        display: block;
    }

}

@media only screen and (max-width: 600px) {
    .welcomemgs {
        display: none;
    }
    .level_font{
        display: none !important;
    }
    /*.navbar-brand{*/
    /*    margin-left: 98px;*/
    /*}*/
    .humburger-btn{
        position: relative;
        left: -281px;
    }
    /*.search-box{*/
    /*display: none!important;*/
    /*}*/
    .chtbxusername{
        margin: 0 36px;
    }


    .partialnavinchat {
        display: none;
    }

    .chatbox + .chatdashboard {
        display: none;
    }

    .text-box {
        display: inline !important;
        width: 100% !important;
    }

    .chatboxtopbar {
        border-bottom: #d4d1d1 solid 1px;
        margin: 0;
        box-shadow: 0.01rem 0.01rem 0.01rem #bcc0bb;
    }

    .chatnavicon {
        padding-top: 3px;
        font-size: .70rem;
        margin: -17px;
        float: none;
        cursor: pointer;
        display: none;
    }

    .leveldiv {
        width: 135%;
    }

    #sendmgsarrow {
        /* font-size: .90rem; */
        color: darkseagreen;
        margin: 3px 0px 0px 0px;
        /* size: 47px; */
        font-size: 29px;
        top: -48px;
        left: -17px;
    }

    .smchatboxtable {
        width: 60%;
        margin: 0 86px;
    }
}

#leftnav-search {
    color: #aaa;
}

#tbodChat tr td {
    padding: 0 !important;
}

#tbodChat tr td a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-align: left;
}

#tbodChat tr td a img {
    margin-right: 10px;
}
